<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colleges</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<div class="hero is-primary" style="line-height:8">
    <div class="container" style="background-color:green">
       <div id="header" class="level-right">
           <a href="{% url 'logout'  %}" >LOGOUT</a>
       </div>
    </div>
</div>
<div>
<button type="button"><a href="{% url 'addcollege' %}">+ ADD COLLEGE</a></button><br><br>
<table class='table is-bordered is-hoverable is-fullwidth'>
    <tr>
        <th>college name</th>
        <th>college code</th>
        <th>Actions</th>
    </tr>
    {% for val in values %}
        <tr>
            <td><a href="{% url 'studentinfo' val.acronym val.id %}">{{val.name}}</a></td>
            <td>{{val.acronym}}</td>
            <td><a href="{% url 'editcollege' val.id %}">edit</a> | <a href="{% url 'deletecollege' val.id %}">delete</a></td>
        </tr>
    {% endfor %}
</table>
</div>
</body>
</html>